@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SpoqaHanSansNeo-Regular';
}

h1,p{
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

img{
    margin: 0;
    padding: 0;
}



body{
    margin: 0;
    padding: 0;
    background-color: #c4c4c4;
}

.wrapper{
    position: relative;
    width: 535px;
    height: 740px;
    background-color: white;
    border-radius: 10px;
    margin: 200px auto;
    overflow: hidden;
}



h1{
    font-size: 16px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #C4C4C4;
    border-radius: 10px 10px 0 0 ;
}

.close{
    width: 16px;
    position: relative;
    left: 92%;
    top: -42px

}

.main p:nth-of-type(1){
    font-size: 20px;
    padding: 26px 0 0 24px;
}

.id{
    width: 472px;
    height: 50px;
    border: 1px solid #C4C4C4;
    margin: 24px 0 0 24px;
    border-radius: 4px;


}

.password{
    width: 472px;
    height: 50px;
    border: 1px solid #C4C4C4;
    margin: 10px 0 0 24px;
    border-radius: 4px;

}

.stay-login{
    margin-top: 17px;
    margin-left: 30px;
    border-radius: 50%;
}

label{
    font-size: 16px;
    color: #767676;
    
}

.login{
    display: block;
    width: 472px;
    height: 38px;
    background-color:#2F80ED ;
    border-radius: 4px;
    margin: 21px 0 20px 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
}


.help{
    text-decoration: none;
    font-size: 14px;
    color:#767676;


}

.join{
    margin-left: 34% ;
    padding: 0 12px 0 0;
    border-right: 1px solid  #767676;
}

.find{
    padding-left: 10px;
}

.or {
    font-size: 14px;
    color:#767676;
    text-align: center;
    padding: 20px 0 20px 20px ;
    
}

.main{
    overflow: hidden;
}

.main::after{
    content:'';
    display: block;
    clear: both;
    width: 210px;
    height: 1px;
    float: left;
    margin-top: 427px;
    background-color: #767676;
    
}

.main::before{
    content:'';
    display: block;
    clear: both;
    width: 210px;
    height: 1px;
    float: left;
    margin-left: 50px;
    background-color: #767676;
    
}

.sns{
    display: inline-block;
    width: 472px;
    height: 38px;
    border-radius: 4px;
    margin: 5px 0 0px 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border: 1px solid #767676;
    color: #767676;
    padding-top: 12px;
}

.sns img{
    width: 26px;
    float: left;
    margin: 2px  0 0  10px;
}

